
* {
  box-sizing: border-box;
}

.homeScreen {
  margin: auto;
}



.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F6F3;
}

.feed {

  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.post {
  padding: 10px 100px;
}


nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navContainer {
  width: 100%;
}

.main-nav {
  margin: 0;
}

nav { 
  background-color: beige;
  text-align: center;
}

li {
  display: inline-block;
  font-size: 1em;
  padding: 1.2rem;
}

li:hover {
  background-color: rgb(226, 226, 226);
}

.posts {
  padding-bottom: 1em;
}

.new-post {
  border: 1px solid black;
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.temporary-text {
  background-color: red;
  animation: fade 1s forwards;
}


@keyframes fade {
  0% {
    background-color: red;
  }
  100% {
    background-color: white; 
  }
}

.login-form {
  border: 1px solid black;
}

.editbox {
  width: 70%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friend-box {
  width: 30%;
}

.friend-page-container {
  display: inline-block;
}

.card:hover{
  transition: transform 0.15s ease-in-out;
  transform: scale3d(1.05, 1.05, 1)
}